body{
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: 1.5;
    font-family: tahoma, arial, 宋体;
   
}
/* a:hover{
    text-decoration: none;
} */
*{
    margin:0;
    padding:0;
}
ul{
    list-style: none;
    
}
li{
    list-style: none;
}
.tianmao{
    width: auto;
    min-width: 990px;


  
}
.nav{
    width: auto;
    min-width: 990px;
    height: 32px;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    position: relative!important;
    background: #f2f2f2;
    z-index: 99999;
    border-bottom: 1px solid #e5e5e5;
    color: #999;
   
  
}

.nav .container{
    width: 982px;
    position: relative;
    left: 0px;
    margin: auto;
    padding:0;
    
}
@media (min-width:1260px){
    .nav .container{
        width:1230px;
        left:-15px;
    }
}
.nav-left{
    height: 32px;
    line-height: 32px;
    display: inline-block;
    position: relative;
}
em{
    font-style: normal;
}
.container a:hover{
    color:red;
}
.login{
    padding: 0 10px;
    padding-left:20px;
    color:#999;
}
.zhuce{
    padding: 0 10px;
    color:#999;
}
.menu a{
    color:#999;
}
.menu{
    height: 32px;
    line-height: 32px;
    position: absolute;;
    left:680px;
    top: 0;
    color: #999;

}
nav .menu li{
    float: left;
    position: relative;
}
.menu1{
    float:left;
    padding: 0 10px;
    padding-right: 14px;
    color: #999;
    height: 32px;
    display: block;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
   
   
   
}
.menu2{
    float:left;
    padding: 0 10px;
    padding-right: 14px;
    color: #999;
    height: 32px;
    display: block;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
    visibility: hidden; 
   
}
.menu2:hover{
    visibility: visible;
    background-color: #fff;
}
.menu3{
    float:left;
    padding: 0 10px;
    padding-right: 14px;
    color: #999;
    height: 32px;
    display: block;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
    visibility: hidden; 
   
}
.menu3:hover{
    visibility: visible;
    background-color: #fff;
}
.menu4{
    float:left;
    padding: 0 10px;
    padding-right: 14px;
    color: #999;
    height: 32px;
    display: block;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative; 
    right:5px;
   
}
.erweima{
    display: none;
}
.menu4:hover div {
   display: block;
    background-color: #fff;
}

.menu5{
    float:left;
    padding: 0 10px;
    padding-right: 14px;
    color: #999;
    height: 32px;
    display: block;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
    visibility: hidden; 
}

.menu5:hover{
    visibility: visible;
    background-color: #fff;
}

.menu6{
    float:left;
    padding: 0 10px;
    padding-right: 14px;
    color: #999;
    height: 32px;
    display: block;
    cursor: pointer;
    z-index: 100001;
    border: solid #f2f2f2;
    border-width: 0 1px;
    position: relative;
    
}
.menu6:hover div{
    display: block;
}

.item-list6 {
    width: 1198px;
    height: 155px;
    right: 0;
    left: auto;
    background-color: #fff;
    border: solid #eee;
    border-width: 0 1px 1px;
    padding:10px;
    line-height: 1.4;
    top: 33px;
    z-index: 93110;
    display: none;
    position: absolute;
    padding-top: 30px;
}
.item-list6 a{
    color: #666;
}
.list6-hot{
    width: 455px;
    height: 110px;
    padding-left: 30px;
    overflow: hidden;
    float: left;
    display: block;
    line-height: 1.4;
}
.list6-hot h2{
    font-size: 16px;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
    font-weight: 100;
    color: #f56a00;
}
.hot-list {
    margin-right: -20px;
    overflow: hidden;
    margin-top: 8px;
}
.hot-list ul{
    list-style: none;
}
.hot-list li{
    width: 95px;
    float: left;
    padding: 6px 0;
    overflow: hidden;
}
.list6-market{
    width: 455px;
    height: 110px;
    padding-left: 30px;
    overflow: hidden;
    float: left;
    display: block;
    border-left: 1px solid #f5f5f5;
    border-right: 1px solid #f5f5f5;
    line-height: 1.4;
}
.market-list{
    margin-right: -20px;
    overflow: hidden;
    margin-top: 8px;
}
.market-list ul{
    list-style: none;
}
.list6-market h2{
    color: #2263d4;
    font-size: 16px;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
    font-weight: 100;
}
.market-list li{
    width: 95px;
    float: left;
    padding: 6px 0;
    overflow: hidden;
}
.list6-help {
    width: 210px;
    height: 110px;
    padding-left: 30px;
    overflow: hidden;
    float: left;
    display: block;
    line-height: 1.4;
}
.help-list {
    margin-right: -20px;
    overflow: hidden;
    margin-top: 8px;
}
.help-list ul{
    list-style: none;
}
.list6-help h2 {
    color: #666;
    font-size: 16px;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
    font-weight: 100;
}
.help-list li{
    width: 95px;
    float: left;
    padding: 6px 0;
    overflow: hidden;
}




.menu b{
    top: 15px;
    position: absolute;
    right: 6px;
    width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid dashed dashed;
    border-color: #bbb transparent transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
}

.line{
    display: inline-block;
    width: 0;
    height: 14px;
    line-height: 14px;
    vertical-align: top;
    position: relative;
    top: 6px;
    left: 0;
    font-size: 0;
    border-left: 1px solid #ccc;
    margin: 0 2px 0 5px;
}

.header{
    margin-bottom: 0;
    min-width: 990px;
    background: #fff;
    height: 130px;
    margin-top: 0!important;
    margin-left: auto;
    margin-right: auto;
    position: relative;
   
}
.layout{
    weight:990px;
    margin: 0 auto;
   
    
}
.maologo{
 
  height:130px;
 
  
}
.logo{
    float:left; 
    height:130px;

}
@media (min-width:1260px){
    .layout{
        width:1230px;
    }
}
.search{
    float:left;
    width:410px;
    height:40px;
    border:2px solid red;
    background-color: red;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    color:black;
    text-align: center;
    position: absolute;
    margin-left:360px;
    margin-top:40px;
      
    
}
.search-left{
    float:left;
    width:276px;
    height:36px;
    position: relative;
    padding-left:5px;
    border:none;
    
}
button{
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    color:#fff;
    background-color: red;
    border:none;
    margin-top:5px;
    
}
@media (min-width:1260px){
  .search{
      width:625px;
  }
  .search-left{

    width:491px;
    
  }
  

}
.content{
    width:100%;
    background:#fff;
    color: #999;
    font-size: 12px;
    margin: auto;
    font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    position: relative;
    z-index: 10000;
    position: relative;

    

}
.main-nav{
    width:100%;
    padding-right: 0;
    white-space: nowrap;
    position: relative;
    font-size: 12px;
    padding-top: 0;
    height: 35.5px;
    background-color: #fff;
    border-style: solid;
    border-width: 0 0 1.5px;
    border-color: #FF0036;
}
.fenlei{
    float:left;
    position: relative;
    left:5px;
    width:200px;
    height:35px;
    line-height: 36px;
    color:#fff;
    background-color: red;
    
 
}
.mao{
    float:left;
    position: relative;
    left:5px;
    width:200px;
    height:35px;
    line-height: 36px;
    color:black;
  
}
.top-list{
    float:left;
    background-color: black;
}
.mao a{
    font-size:16px;
    color:black;
    margin-left:15px;
     margin-top:2px;
   
}
.banner{
    width:100%;
    height:500px;
    position: relative;
    left:50px;
}
.box{
    width:100%;
    height:100%;
    position: relative;
}
.banner1{
    position: absolute;
    left:0;
    top:0;
    display: block;
    width:100%;
    height:100%;       
    
}
.box a:nth-child(1){
   background-image: url(../img/ban1.png) ;
    z-index:1;
}
.box a:nth-child(2){
    background-image: url(../img/ban2.png);
}

.box a:nth-child(3){
    background-image: url(../img/ban3.png);
}

.box a:nth-child(4){
    background-image: url(../img/ban4.png);
}

.box a:nth-child(5){
    background-image: url(../img/ban5.png);
}

.box a:nth-child(6){
    background-image: url(../img/ban3.png);
}
.btn{
    position: absolute;
    left:300x;
    margin-left:300px;
    top:450px;
    width:350px;
    height:20px;
    z-index: 1;

}
.btn li{
    margin-left:5px;
    float: left;
    width:13%;
    height:100%;
    background-color: #000;
    opacity: 0.2;
  
}



.fenlei2{
    float:left;
    position: relative;
    left:5px;
    width:200px;
    height:500px;
    line-height: 36px;
    color:#fff;
   background-color: rgb(153, 153, 153);
   opacity: 1;
    
    
    
}
.fenlei3{
    width:200px;
    height:36px;
    line-height: 36px;
    color:#fff;
    position: relative;
    left:5px;
    margin-bottom: 0;
    
}

.fenlei3 a{
   
    color:#fff;
    padding-left:10px;
    font-size: 14px;
}
.fenlei3:hover{
   background-color: #fff;
   color:red;

}
.fenlei3 a:hover{
    text-decoration: none;
}
.tphoto{
    width:20px;
    height:20px;
    margin-left:10px;
}

.item1{
    float: left;
    display: block;
    width: 234px;
    height: 370px;
    background-color: #fff;
    box-shadow: 10px 30px 29px 3px 
    rgba(0, 0, 0, 0.06);
    position: relative;
    top:20px;
    left:-10px;
}
.span1{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    line-height: 54px;
    height: 18px;
    margin-left: 10px;
}
.span2{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    margin-left: 10px;
    line-height: 24px;
    height: 44px;
}

.p1{
      width:214px;
      height:316px;
}
.p2{
    width:485px;
    height: 316px;
    
}
.item2{
    float: left;
    display: block;
    width:485px;
    height: 370px;
    margin-right: 13px;
    background-color: #fff;
    box-shadow: 10px 30px 29px 5px 
    rgba(0, 0, 0, 0.06);
    position: relative;
    right:-50px;
    top:20px; 

}
.item3{
    float: left;
    display: block;
    width:485px;
    height: 370px;
    margin-right: 13px;
    background-color: #fff;
    box-shadow: 10px 30px 29px 5px 
    rgba(0, 0, 0, 0.06);
    position: relative;
    right:-60px;
    top:20px; 

}


.shangbiao{
    margin:0 atuo;
   
    width: 1320px;
    padding-right: 30px;
    position: relative;
    height:327px;
    margin-left:365px;
   

}
.shnagbiao1{
    margin:0 atuo;
    height: 327px;
    width: 100%;
    overflow: hidden;
   background-color: #fff;
    opacity: 1;
    position: absolute;
    left:0;
    
}
.shangbiao2{

    background-color:#f5f5f5;  
    margin-right: -1px;
    width: 100%;
    height: 100%;
    float: right;
    position: absolute;
    

}
.shangbiao3{
   
    margin-right: -2px;
    overflow: hidden;
   
}

.sb{
    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
    background-color: #fff;
   
}

.sbphoto{
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 108px;
    background-color: #fff;
    opacity: 1;
}
.sbword{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #333;
    background-color: rgba(0,0,0,.8);
    transition: all .3s ease-out;
    opacity: 0;
  
}
.sbword:hover{
    opacity: 1;
    text-decoration: none;
}

.coupon{
    color: #fff;
    text-align: center;
    line-height: 90px;
    height: 60px;
}

.enter{
    text-align: center;
    height: 32px;
    color: #000;
}
.enter span{
    display: inline-block;
    color: #fff;
    width: 63px;
    height: 18px;
    font-size: 12px;
    line-height: 15px;
    background-color: #FF0036;
    border-radius: 9px;
}
.sb-huanyipi{

    width: 122px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
    background-color: #fff;
}
.sb-huanyipi:hover{
    background-color: crimson;
    
    
}
.shuaxin:hover{
    transform: rotate(360deg);
    transition-duration: 1s;
}
.huanyipi:hover{
    text-decoration: none;
}
.huanyipi span:hover{
    color: #fff;
}

.tiaomao-hk{
    margin-top: 20px;
    width: 100%;
    height: 700px;
    position: relative;
    background-color: #f5f5f5;
    margin-top:0;
}

.hk-title{
    display: block;
   height:25px;
   margin-top:20px;
}

.hk-neirong{
    width: 1400px;
    height: 618px;
    margin-top: 10px;
    overflow: hidden;
    opacity: 1;
    position: relative;
}
.hk{
    margin:0 auto;
    width: 1400px;
    height: 618px;
    float: left;
    position: relative;
    
    

}
.hk0{
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
    float:left;
    position: absolute;
    background-image: url(../img/h1.png);
    
}
.hk1{
    width: 234px;
    height: 300px;
    border: 1px solid #fff;
    float:left;
    position: relative;
    background-color: #fff;
  position: relative;
     margin-left:250px;
}
.hk2{
    width: 234px;
    height: 380px;
    border: 1px solid #fff;
    float:left;
    position: relative;
    background-color: #fff;
  position: relative;
     margin-left:250px;
     bottom:80px;
}


.li1{
   position: relative;
    top: 20px;
    left: 25px;
    width: 220px;
    font-size: 18px;
    z-index: 10;
    line-height: 24px;
    height: 24px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.li2{
    position: relative;
    top: 49px;
    left: 25px;
    width: 220px;
    font-size: 14px;
    z-index: 10;
    line-height: 18px;
    height: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.li3{
    width: 170px;
    height: 170px;
    margin: 90px 33px 42px 32px;
    position: relative;
}

.hk1 a:hover{
    text-decoration: none;
}
.bottom{
    min-height: 558px;
    border-top: 1px solid #D1D7DC;
    clear: both;
    margin: 0;
    text-align: center;
    background: #fff;
    position: relative;
    
}
.bottom1{
    width: 1190px;
    height: 100px;
    background: url(../img/bottom.png) no-repeat;
    margin: 25px auto;
    padding: 0;
}
.bottom2{
    float: left;
    display: block;
    width: 297px;
    height: 100px;
    text-indent: -1000em;

}
.bottom3{
    width: 1190px;
    padding-top: 22px;
    height: 220px;
    margin: auto;
    border-top: 1px solid #ededed;
    background: url(../img/bottom-mao.png) 45px bottom no-repeat;
}

.ensure{
    float: left;
    width: 186px;
    padding-left: 52px;
    text-align: center;
    margin-right:40px;
}
dt{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
dt span{
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
dd{
    text-align: left;
    display: block;
    margin-inline-start: 40px;
    position: relative;
}
dd a{
    display: block;
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    position: relative;
   left:-35px;
   
}

.finally{
    margin-top:0;
    border-top: 2px solid #FF0036;
    background: #000;
    text-align: left;
    min-height: 177px;
}

.f1{
    width: 1190px;
    margin: 0 auto;
    color: #fff;
    line-height: 25px;
    padding: 5px 0;
}
.finally p a{
    margin-right: 3px;
    color: #fff;
    text-align: left;
}
.f2{
    width: 1190px;
    margin: 0 auto;
    color: #fff;
    line-height: 25px;
    padding: 5px 0;
}
.f2 a{
    margin-right: 3px;
    color: #fff;

}
.f3{
    line-height: 20px;
    background: #000;
    color: #a4a4a4;
    width: 1190px;
    margin: 0 auto;
    text-align: left;
}
.f4{
    line-height: 20px;
    background: #000;
    color: #a4a4a4;
    text-align: left;
    display: none;
}
.f3 a{
    color: #a4a4a4;
    
}
.list{
    position: absolute;
    width:700px;
    height:500px;
   
    left:463px;
    top:30;
    display: block;
    
   
}

.nvzhuang{
  position: absolute;
    width:700px;
    height:500px;
    background-color: blue;
    left:0;
    top:0;
    z-index:2;
    display: none;
}
.nanzhuang{
    position: absolute;
      width:700px;
      height:500px;
      background-color: yellow;
      z-index:2;
      left:0;
       top:0;
     display:none;
  }
  .span1{
      position: absolute; 
      width:100px;
      height:40px;
      line-height:20px;
       
       margin-left:20px;
       margin-top:20px;
       color: #000;
    
      
  }
  .listd1 a{
      color: #000;
      margin-left:12px;
  }
  .listd1{
    position: absolute; 
    width:550px;
    height:70px;
    line-height:15px;   
    left:130px;
    top:25px;
     color: #000;
    
  }
  .search1{
      width: 100%;
      height:50px;
      background: red;
      opacity: 0.8;
      position: fixed;
      left:0;
      top:-50px;
      z-index: 100000000000;
      transition:top 0.5s ease;
  }

  .navn{
      width:30px;
      height:400px;
      opacity: 0;
      overflow: hidden;
      position: fixed;
      left:200px;
      top:0;
      bottom:0;
      z-index: 100000000000000000000;
      transform: scale(0,0);
      transition: all 1s ease;
      transform-origin:left bottom;text-align: center;
      vertical-align: middle;
  }
  .navn li{
      color: #eee;
      width:100%;
      height:40px;
      border-bottom: 1px solid #000;
      box-sizing: border-box;
      background-color: #333;
      opacity: 0.7;
      display: block;
      margin-top: 5px;
    
  }
  .navn li a{
      cursor: pointer;
      color: #eee;
      text-decoration: none;
  }


  .shop {
    
    margin-top: 20px;
    width: 1230px;
    height: 665px;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
}

.shop-title {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    color: #000;
    height: 28px;
}

.shop-title img {
    vertical-align: middle;
    width: 214px;
    height: 25px;
    border: none;
}

.shop-list {
    width: 100%;
    height: 618px;
    margin-top: 10px;
    overflow: hidden;
}

.shop-list-item1 {
    float: left;
    position: relative;
    width: 235px;
    height: 618px;
    font-family: "Microsoft YaHei", SimSun, '\5b8b\4f53', sans-serif;
}

.sp-item1-img {
    width: 100%;
    height: 618px;
    vertical-align: middle;
    border: none;
}

.sp-item1-img:hover {
    background-color: #fff;
    opacity: 0.6;
}

.sp-item1-banner {
    position: absolute;
    vertical-align: middle;
    bottom: 20%;
    width: 218px;
    height: 64px;
}

.banner-left {
    background: rgba(0, 0, 0, .9);
    width: 70px;
    height: 64px;
    overflow: hidden;
    color: #FFF;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.banner-left span {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    font-size: 18px;
    width: 36px;
    overflow: hidden;
}

.banner-right {
    left: 70px;
    top: 0;
    position: absolute;
    background: rgba(0, 0, 0, .6);
    overflow: hidden;
    width: 128px;
    height: 64px;
    color: #FFF;
    vertical-align: middle;
}

.banner-right-list {
    margin-top: 8px;
    margin-left: 14px;
}

.banner-right-list span {
    display: block;
    line-height: 24px;
    font-size: 18px;
}

.sp-item1-wrap {
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 4%, rgba(0, 0, 0, .36) 100%);
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.sp-item1-wrap img {
    position: absolute;
    bottom: 15px;
    right: 15px;
    width: 32px;
    height: 32px;
}

.shop-list2 {
    width: 995px;
    height: 618px;
    float: left;
    overflow: hidden;
}

.item-tabs {
    width: 484px;
    height: 301px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .09);
    color: #999;
    float: left;
    margin-left: 12px;
    background-color: #fff;
}

.tabs {
    width: 462px;
    height: 282px;
    margin: 10px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .09);
    color: #999;
    font-family: "Microsoft YaHei", SimSun, '\5b8b\4f53', sans-serif;
}

.tabs-head {
    width: 462px;
    height: 57px;
    background-color: #f1f1f1;
}

.tabs-head a {
    width: 231px;
    height: 57px;
    line-height: 57px;
    text-align: center;
    color: #000;
    text-decoration: none;
    float: left;
    font-size: 18px;
}

.content1 {
    height: 462px;
    height: 225px;
    overflow: hidden;
    background-color: #fff;
}

.tabs-content {
    height: 225px;
    width: 462px;
    color: #999;
    font-size: 12px;
    position: relative;
}

.right1 {
    position: absolute;
    top: 96px;
    height: 87px;
    width: 291px;
    background-repeat: no-repeat;
    background-position: 0 center;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../imgs/1.png);
    z-index: 99;
}

.right1-title {
    margin-left: 26px;
    margin-top: 8px;
    vertical-align: middle !important;
}

.right1-title img {
    width: 23px;
    height: 23px;
    margin-top: -10px;
}

.right1-title span {
    margin-left: 8px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #00B262;
}

.right1-content span {
    margin-left: 26px;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
}

.content1-img {
    float: right;
    margin-top: 10px;
    margin-right: 30px;
    width: 200px;
    height: 200px;
}

.shop-list2-item a {
    width: 235px;
    height: 317px;
    margin-left: 13px;
    text-align: center;
    float: left;
    display: block;
    border-bottom: 15px solid #f5f5f5;
    position: relative;
    background-color: #fff;
}

.sp2-item:hover {
    border: 1px solid #ff0036;
    text-decoration: none;
    opacity: 0.6;
    background-color: #fff;
}

.shop-list2-item a {
    text-decoration: none;
}

.sp2-item {
    width: 235px;
    height: 301px;
}

.sp2-item-text {
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;
}

.sp2-item-price {
    font-size: 18px;
    color: #FF0036;
    line-height: 18px;
    margin: 10px auto;
}

.shop-list3 {
    width: 995px;
    height: 618px;
    float: left;
    overflow: hidden;
}
